@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* COMMON */

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: 'Inter', sans-serif;
font-style: normal;
}

$color-blue: #172B4D;
$color-green: #36b37e;
$color-blue-light: #344563;
$color-gray: #EBF0EE;

.blue {
  color: $color-blue;
}

.green {
  color: $color-green;
}

.green-bg {
  background-color: $color-green;
}

.blue-bg {
  background-color: $color-blue;
}
.gray-bg {
  background-color: $color-gray;
}
.top-20 {
  top: 20%;
}

.fw-semibold {
  font-weight: 600;
}
.w-85 {
  width: 85%;
}

.btn-success {
  font-weight: 500;
  padding: 0.75rem;
}


/* HEADER */

.nav-item:focus, .nav-item:active {
  background-color: $color-blue;
}

.nav-link {
  color: $color-blue-light;
  &.active {
    color: $color-green;
  }
}

header {
  background: top / cover no-repeat url("../img/header-bg-desktop.png");
}

.heading {
  color: $color-blue;
}

/* WORKS */

.border-50 {
  border-radius: 50%;
}

.card {
  margin-bottom: 2rem;
}

.card-wrapper {
 min-width: 368px;
 max-width: 369px;
 min-height: 316px;
}

.card-title {
  color: $color-blue;
  font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 24px;
}

.tool {
  padding: 0.5rem;
  font-weight: 600;
font-size: 12px;
line-height: 16px;
}

/* ABOUT */

.icon-elipse {
 width: 5rem;
 height: 5rem;
 padding: 1rem;
}
