@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* COMMON */

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: 'Inter';
font-style: normal;
}

$color-blue: #172B4D;
$color-green: #36b37e;
$color-blue-light: #344563;


.blue {
  color: $color-blue;
}

.green {
  color: $color-green;
}

.green-bg {
  background-color: $color-green;
}

.blue-bg {
  background-color: $color-blue;
}

.top-20 {
  top: 20%;
}

.fw-semibold {
  font-weight: 600;
}

/* HEADER */

.nav-link {
  color: $color-blue-light;
}

header {
  background: top / cover no-repeat url("../img/header-bg-desktop.png");
}

.heading {
  color: $color-blue;
}

/* WORKS */

.border-50 {
  border-radius: 50%;
}

.card {
  margin-bottom: 2rem;
}
.x {
 min-width: 327px;
 max-width: 369px;
}

.card-title {
  color: $color-blue;
  font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 24px;
}

.tool {
  padding: 1rem;
  font-weight: 600;
font-size: 12px;
line-height: 16px;
}
