@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* LAYOUT */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/*COLORS */
.blue {
  color: #172B4D;
}

.green {
  color: #36b37e;
}

.green-bg {
  background-color: #36b37e;
}

.blue-bg {
  background-color: #172B4D;
}

.gray-bg {
  background-color: #EBF0EE;
}

/* WIDTH */
.w-60 {
  width: 60%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

/* FONT */
.fw-semibold {
  font-weight: 600;
}

/* BUTTONS */
.btn-success {
  font-weight: 500;
  padding: 0.75rem;
}

/* BORDERS */
.border-50 {
  border-radius: 50%;
}

/* HEADER */
.nav-item:focus,
.nav-item:active {
  background-color: #172B4D;
}

.nav-link {
  color: #344563;
  transition: all 1s ease-in;
}
.nav-link.active {
  color: #fff;
  background-color: #172B4D;
  border-radius: 5%;
  margin-top: 0.75rem;
}

header {
  background: top center/cover no-repeat url("../img/header-bg-desktop.png");
}

.heading {
  margin-top: -15%;
  color: #172B4D;
}
.heading h1 {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.37px;
}
.heading .supporting-text {
  font-size: 20px;
  line-height: 160%;
}

/* CARDS */
.project-card {
  margin-bottom: 2rem;
  width: 397px;
  height: 474px;
}

.about-card {
  width: 369px;
}

.card-title {
  color: #172B4D;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.tool {
  width: 100%;
  flex: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

/* WORKS */
#works h2::after {
  content: "";
  display: block;
  width: 3rem;
  max-width: 70%;
  border-top: 0.25rem solid #36b37e;
  border-radius: 1.5rem;
  margin: 1.5rem auto 0;
}

/* ABOUT */
#about .container h2::before {
  content: "";
  background: url(../img/about-me-vector-right.png) no-repeat top right;
  position: absolute;
  display: flex;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#about .container p::before {
  content: "";
  background: url(../img/about-me-vector-left.png) no-repeat top left;
  position: absolute;
  display: flex;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: 5%;
}

.icon-elipse {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

/* CONTACT */
#contact .container form::before {
  content: "";
  background: url(../img/contact-form-bg-desktop.png) no-repeat center right;
  position: absolute;
  display: flex;
  right: 0;
  height: 60%;
  width: 10%;
}

#contact .container::after {
  content: "";
  background: url(../img/contact-form-bg-desktop-1.png) no-repeat bottom left;
  left: 0;
  height: 100%;
  width: 20%;
  display: flex;
  position: absolute;
}

.contact-form-img {
  display: block;
  margin-left: 20%;
  transform: scale(0.5);
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  resize: both;
}

input[type=text],
input[type=email]::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;
  display: flex;
  align-items: center;
}

textarea {
  min-height: 7.188rem;
  color: #42526e;
  border: 0.063rem solid #60c095;
  padding: 0.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;
  background: url(../img/icon-resizer.png) no-repeat bottom right;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;
  color: #42526e;
}

textarea::-webkit-resizer {
  display: none;
}

input:focus,
textarea:focus {
  border: 0.063rem solid tan;
  box-shadow: 0 0 0.625rem tan;
}

input:required:focus:valid,
textarea:required:focus:valid {
  border: 0.063rem solid #36b37e;
  box-shadow: 0 0 0.625rem #36b37e;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .heading {
    margin-top: 40%;
  }
  .heading h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
  }
}