@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* COMMON */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Inter";
  font-style: normal;
}

.blue {
  color: #172B4D;
}

.green {
  color: #36b37e;
}

.green-bg {
  background-color: #36b37e;
}

.blue-bg {
  background-color: #172B4D;
}

.top-20 {
  top: 20%;
}

.fw-semibold {
  font-weight: 600;
}

/* HEADER */
.nav-link {
  color: #344563;
}

header {
  background: top/cover no-repeat url("../img/header-bg-desktop.png");
}

.heading {
  color: #172B4D;
}

/* WORKS */
.border-50 {
  border-radius: 50%;
}

.card {
  margin-bottom: 2rem;
}

.card-wrapper {
  min-width: 327px;
  max-width: 369px;
}

.card-title {
  color: #172B4D;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.tool {
  background-color: #EBF0EE;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}