@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* LAYOUT */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/*COLORS */
.blue {
  color: #172B4D;
}

.green {
  color: #36b37e;
}

.green-bg {
  background-color: #36b37e;
}

.blue-bg {
  background-color: #172B4D;
}

.gray-bg {
  background-color: #EBF0EE;
}

/* WIDTH */
.w-60 {
  width: 60%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.top-20 {
  top: 20%;
}

/* FONT */
.fw-semibold {
  font-weight: 600;
}

/* BUTTONS */
.btn-success {
  font-weight: 500;
  padding: 0.75rem;
}

/* BORDERS */
.border-50 {
  border-radius: 50%;
}

/* HEADER */
.nav-item:focus,
.nav-item:active {
  background-color: #172B4D;
}

.nav-link {
  color: #344563;
  transition: all 1s ease-in;
}
.nav-link.active {
  color: #fff;
  background-color: #172B4D;
  border-radius: 5%;
  margin-top: 0.75rem;
}

header {
  background: top/cover no-repeat url("../img/header-bg-desktop.png");
}

.heading {
  color: #172B4D;
}
.heading h1 {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.37px;
}
.heading .supporting-text {
  font-size: 20px;
  line-height: 160%;
}

/* CARDS */
.project-card {
  margin-bottom: 2rem;
  width: 397px;
  height: 474px;
}

.about-card {
  width: 369px;
}

.card-title {
  color: #172B4D;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.tool {
  width: 100%;
  flex: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

/* WORKS */
#works h2::after {
  content: "";
  display: block;
  width: 3rem;
  max-width: 70%;
  border-top: 0.25rem solid #36b37e;
  border-radius: 1.5rem;
  margin: 1.5rem auto 0;
}

/* ABOUT */
.icon-elipse {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}